# Python
__pycache__/
*.py[cod]
*$py.class

# Virtuální prostředí
.venv/
venv/
env/
.env/

# IDE / editor
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini

# Obecné
*.log